:root {
  --primary: #064635;
  --secondary: #519259;
  --tertiary: #F0BB62;
  --quatrinary: #F4EEA9;
  --light: #e1f5f4;
  --dark: #2d6b3d;
  --error: rgb(228, 46, 1);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  max-width: 100%;
}
header {
  background-color: var(--secondary);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  
}
header h2 {
  font-weight: bold;
  margin: 3px;
  font-size: 36px;
  min-width: 70%;
}

.nav-component {
  margin: 7px 0;
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}


nav a {
  padding: 6px 10px;
  margin: 0 0 15px 0px;
  transition: all 0.2s;
}

nav a:hover {
  color: white;
  /* background-color: var(--dark); */
}

nav ul {
  list-style-type: none;
  display:flex;
  justify-content:  space-evenly;
  
}

h2 {
  margin: 0;
}
html,
body {
  min-height: 100%;
}
html {
  background-image: url("./assets/img/trees image.jpg");
  background-size: cover;
  background-position: center;
  min-width: 100%; 
  height: 60vh;
  background-attachment: fixed;
  background-position: 80%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
  background-color: var(--secondary);
  background-color: rgba(0, 0, 0, .5);
}

a {
  color: black;
  text-decoration: none;
}

main h3 {
  color: var(--light);
  margin: 30px;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
 }

 .eventlist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
 }

 .eventlist-title {
  display: flex;
  display: block;
 }

 .eventlist-card-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }
.title {
  text-align:center;
}
.card {
  margin: 30px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--dark);
  max-width: 20%;
  display: flex;
  flex-direction: column;
}

.card-header {
  color: var(--secondary);
  margin: 0;
  background-color: var(--dark);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
}

.card-footer{
  margin: 0;
  font-size: 1rem;
}

.single-event-container {
  margin: auto ;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--dark);
  max-width: 80%;
  display: flex;
  flex-direction: column;
  
  }

.single-event-header{
  color: var(--secondary);
  margin: 0;
  background-color: var(--dark);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.single-event-body{
  padding: 2.5%;
  font-size: 1.4rem;
}
footer {
  width: 100%;
  margin-top:auto;
  background-color: var(--secondary);
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  footer a {
    margin: 40px;
  }

